body {
    font-size: 18px;
    line-height: 1.0;
    
}

header,body
footer,
main,
nav {
    margin: 2.0rem auto;
    max-width: 760px;

}

nav a:hover {
    background-color: blueviolet;
}


header {
    background-color: blueviolet;
    color: whitesmoke;
    text-align: center;
    border-radius: 5px;
    padding: 30px;

}

img {
    float: right;
    border-style: outset;
    border-radius: 5px;

}

footer {
    background-color: blueviolet;
    color: white;
    text-align: center;
     border-radius: 5px;
     padding: 25px;
}

footer a {
    color: white;
}

footer a:hover {
    background-color: blueviolet;
    background-size: unset;
}

footer p{
    color:white;
}
h1 {
font-family: 'PT Serif', serif;
}


