@media only screen and (min-width: 1028px){

    h1{
        font-size: 35pt;
    }

    #principles {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding: 0 3em;
        margin: 2em;
        grid-column-gap: 50px;
        
    
    }
}