body {
    margin: 0;
    background-color: rgb(20, 81, 160);
    
}

h1 {
   
   background-image: linear-gradient(to left, rgba(200,0,0,0), rgb(95, 92, 92));
    color: white ;
    font-family: "yion sung", serif;
    font-size: 35pt;
    padding: 1em;
    text-shadow: 3px 3px 5px black;
    border-top: solid rgb(0, 0, 0);
    border-bottom: solid black;
}

 
h2 {
    font-family: "open sans condensed", sans-serif;
    margin: 1em;
    text-align: left;
}

#examples {
    display: grid;
    padding: 3em;
    margin: 2em;
  
}

#examples a {
    float: right;
    padding: 1em;
    font-family: "open sans condensed", sans-serif;
    font-size: 15pt;
    font-weight: bolder;
    text-decoration: none;
    color: gray;
}

#examples a:hover {
    background-color: gray;
    color: white;
    padding: .5em;
    border-radius: 10px;
    transition-duration: .5s;
}

.proximity , .alignment, .repetition {
    background-color: white ;
    border: solid gray;
    border-radius: 10px;
    margin-bottom: 2em;
}


img{
    margin: 1rem 2%;
    width: 94%;
    border: solid black;
    
}

p {
    text-align: left;
    padding: 1em;
    font-family: "yion sung", serif;
    font-size: 15pt;
    
}

.name {
    Text-align: center;
    font-family: "yion sung", serif;
    font-size: 24pt;
    padding: 0;
}

footer p{
    text-align: right;
    background-image: linear-gradient(to left, rgba(200,0,0,0), rgb(95, 92, 92));
    font-family: "yion sung", serif;
    padding: 1.5em;
    border-top: solid black;
    border-bottom: solid black;
    margin-bottom: 2em;
    font-size: 10pt;
}

footer a {
    text-decoration: none;
    color: black;

}
