body {
    margin: 0;
    background-color: rgb(98, 136, 97);
    
}

h1 {
   
   
    color: white ;
    font-family: 'PT Serif', serif;
    font-size: 35pt;
    padding: 1em;
    border-top: solid rgb(0, 0, 0);
    border-bottom: solid black;
}

 
h2 {
    font-family: 'PT Serif', serif;
    margin: 1em;
    text-align: left;
}

#principles {
    display: grid;
    padding: 3em;
    margin: 2em;
  
}

#principles a {
    float: right;
    padding: 1em;
    font-family: 'PT Serif', serif;
    font-size: 15pt;
    font-weight: bolder;
    text-decoration: none;
    color: gray;
}

#principles a:hover {
    background-color: gray;
    color: white;
    padding: .5em;
    border-radius: 10px;
    transition-duration: .5s;
}

.proximity , .alignment , .repetition {
    background-color: white ;
    border: solid gray;
    border-radius: 10px;
    margin-bottom: 2em;
}


img{
    margin: 1rem 2%;
    width: 94%;
    border: solid black;
    
}

p {
    text-align: left;
    padding: 1em;
    font-family: 'PT Serif', serif;
    font-size: 15pt;
    
}

.name {
    Text-align: center;
    font-family: 'PT Serif', serif;
    font-size: 24pt;
    padding: 0;
}

footer p{
    text-align: right;
   
    font-family: 'PT Serif', serif;
    padding: 1.5em;
    border-top: solid black;
    border-bottom: solid black;
    margin-bottom: 2em;
    font-size: 10pt;
}

footer a {
    text-decoration: none;
    color: black;

}
