body {
    font-size: 18px;
    line-height: 1.0;
    
}

header,
footer,
main,
nav {
    margin: 2.0rem auto;
    max-width: 760px;

}

nav a:hover {
    background-color: skyblue;
}


header {
    background-color: skyblue;
    color: whitesmoke;
    text-align: center;
    border: red;
    border-radius: 50px;
    padding: 30px;

}

img {
    float: right;
    border-style: outset;
    border-radius: 20px;

}

footer {
    background-color: skyblue;
    color: whitesmoke;
    text-align: center;
    border: red;
    border-radius: 50px;
}

footer a {
    color: whitesmoke;
}

footer a:hover {
    background-color: blue;
    background-size: unset;
}

footer p{
    color:mediumblue;
}

