#alert {
  text-align: center;
}

header, footer {
  width:100%;
  overflow:hidden;
  color: black;
  background-color: #038fa9;
  text-align: center;
  padding: 1rem;
  font-family: 'PT Sans Narrow', sans-serif;
}

header {
	background-color: #1ca0b8;
	display: flex;
	align-items:center;
	justify-content:center;
}

header img {
	width: 100px;
  height: auto;
  margin-right: 20px;
}

.headings {
	display: flex;
  flex-direction: column;
  margin: 0;
}

.headings h1, p {
  margin: 0;
}

.slogan {
  margin-top: 10px;
}

.ham {
  margin-top: 20px;
  margin-left: 45px;
  background-color: transparent;
  font-size: 1.6rem;
  color: white;
  text-align: center;
  border: none;
}

nav {
	margin: 0 auto;
	width: 100%;
	background-color:  rgb(17, 167, 204);
}

#active {
  background-color: #000;
  color: #fff
}

.navigation {
	list-style: none;
	padding: 0;
}

.navigation li {
	display: none;
}

.navigation a {
	display: block;
	padding: 0.75rem;
	text-align: center;
	text-decoration: none;
	color: black;
  font-weight: 700;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 1.25rem;
}

.navigation a:hover {
	color: white;
	background-color: black;
}

.responsive li {
	display: block;
}

main h1, h2 {
  text-align: left;
  font-family: 'PT Sans Narrow', sans-serif;
  margin-left: 0.5rem;
}

.mainh2 {
  margin-top: 0%;
}

.herodiv{
  margin: 10px auto;
  position: relative;
  align-items: center;
}

.herodiv img {
  max-width: 100%;
  height: auto;
}

.article h2 {
  margin: 0;
}

.article img {
  max-width: 95%;
  margin-top: 0.5rem;
}

.article {
  align-items: center;
}

.article p{
  font-family: 'PT Sans Narrow', sans-serif;
  
}

h3 {
  font-family: 'PT Sans Narrow', sans-serif;
}

.weathersummary h3 {
  margin: 0;
  text-align: center;
	text-decoration: underline;
}

.weathersummary{
    display: block;
    position: absolute;
    top: 15px;
    left: 0.5rem;
    font-family: 'PT Sans Narrow', sans-serif;
    border: 2px solid black;
    box-shadow: 0 0 30px #111;
    opacity: .8;
    background: radial-gradient(#eee, #8EC6FF);
  }

.forecast {
  display: none;
  background-color:  #038fa9;
  border-radius: 10px;
  
}


.forecasttable th {
  background-color:  #038fa9;
  height: 30px;
  width: 150px;
  color: black;
  text-align: center;
  border: 1px solid black;
}

.forecasttable td {
  border: 1px solid black;
  border-collapse: initial;
  height: 100px;
  text-align: center;
}

.forecasttable img {
  max-width: 90px;
  height: auto;
  align-items: center;
}

.article {
  margin-bottom: 20px;
  margin-left: 0.5rem;
}
.article h3 {
  text-align: center;
}

.footer-bar {
  margin-top: 0;
  padding-top: 0;
}

.footer-bar div {
  display: inline;
}

.contact-us p {
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 1rem;
  margin-left: 0.5rem;
}

.prestonmap {
  max-width: 100%;
}

.social {
  padding: .5em;
  max-width: 45px;
  height: auto;
  opacity: 0.75;
}

.social:hover {
opacity: 1;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
main figure.myphoto {
  width: 100%;
  margin: 0 0 0 2%;
  float: auto;;
}
main figure.myphoto img {width: 100%;
}
.weatherhead {
  grid-column: 1 / 3;
}

.weatherhead h3 {
  margin: 0;
}
.column1 ul,
.column2 ul {
  margin: 0;
  list-style: none;
  padding: 0;
}
.column1 ul li,
.column2 ul li {
  margin: 0;
}
