#alert {
  text-align: center;
}

header, footer {
  width:100%;
  overflow:hidden;
  color: black;
  background-color: #038fa9;
  text-align: center;
  padding: 1rem;
  font-family: 'PT Sans Narrow', sans-serif;
}

header {
	background-color: #1ca0b8;
	display: flex;
	align-items:center;
	justify-content:center;
}

header img {
	width: 100px;
  height: auto;
  margin-right: 20px;
}

.headings {
	display: flex;
  flex-direction: column;
  margin: 0;
}

.headings h1, p {
  margin: 0;
}

.slogan {
  margin-top: 10px;
}

.ham {
  margin-top: 20px;
  margin-left: 45px;
  background-color: transparent;
  font-size: 1.6rem;
  color: white;
  text-align: center;
  border: none;
}

nav {
	margin: 0 auto;
	width: 100%;
	background-color:  rgb(17, 167, 204);
}

#active {
  background-color: #000;
  color: #fff
}

.navigation {
	list-style: none;
	padding: 0;
}

.navigation li {
	display: none;
}

.navigation a {
	display: block;
	padding: 0.75rem;
	text-align: center;
	text-decoration: none;
	color: black;
  font-weight: 700;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 1.25rem;
}

.navigation a:hover {
	color: white;
	background-color: black;
}

.responsive li {
	display: block;
}

main h1, h2 {
  text-align: left;
  font-family: 'PT Sans Narrow', sans-serif;
  margin-left: 0.5rem;
}

.mainh2 {
  margin-top: 0%;
}



.article h2 {
  margin: 0;
}

.article img {
  max-width: 95%;
  margin-top: 0.5rem;
}

.article {
  align-items: center;
}

.article p{
  font-family: 'PT Sans Narrow', sans-serif;
  
}

h3 {
  font-family: 'PT Sans Narrow', sans-serif;
}

.imageandweather {
  position: relative; /* this is the parent element for (in this case a <div>) of the weathersummary so it must be relative */
}
.weathersummary {
  position: absolute; /*this is the child of the heroimage so it must be absolute */
  top: 0;
  left: 0;
  display: block;
  float: left;
  border: 1px solid black;
  margin: .2rem .2rem;
  padding: .5rem;
  background:radial-gradient(#eee, #8EC6FF);
}

.weathersummary h3 {
  margin: .5rem 0;
}

.weathersummary p {
  margin: .2rem 0;
margin: .2rem 0;
}

.forecast {
  display: none;
  background-color:  #038fa9;
  border-radius: 10px;
  
}


.forecasttable th {
  background-color:  #038fa9;
  height: 30px;
  width: 150px;
  color: black;
  text-align: center;
  border: 1px solid black;
}

.forecasttable td {
  border: 1px solid black;
  border-collapse: initial;
  height: 100px;
  text-align: center;
}

.forecasttable img {
  max-width: 90px;
  height: auto;
  align-items: center;
}

.article {
  margin-bottom: 20px;
  margin-left: 0.5rem;
}
.article h3 {
  text-align: center;
}

.footer-bar {
  margin-top: 0;
  padding-top: 0;
}

.footer-bar div {
  display: inline;
}

.contact-us p {
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 1rem;
  margin-left: 0.5rem;
}

.prestonmap {
  max-width: 100%;
}

.social {
  padding: .5em;
  max-width: 45px;
  height: auto;
  opacity: 0.75;
}

.social:hover {
opacity: 1;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
} 

img {
  width: 100%;
}
.gallery {
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
  grid-gap: 1rem;
  padding: 0 1rem;
}

.gallery figure {
  box-shadow: var(--bs);
  max-width: 18rem;
  border-radius: var(--b-radius);
  transition: 250ms;
  margin: 0 auto;
}

.gallery figure:last-child {
  margin-bottom: 1rem;
}

.gallery figcaption {
  padding: .5rem;
}

.gallery a:link,
.gallery a,
.gallery a:visited {
  text-decoration: none;
  color: var(--clr-darker);
}

.gallery img {
  width: 100%;
  height: auto;
  border-radius: var(--b-radius) var(--b-radius) 0 0;
}
}

.thankyoumain h2{
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 1.75rem;
  text-align: center;
}

.thankyoumain p {
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 1.25rem;
  text-align: center;
}

.thankyoumain {
  margin-bottom: 1.25em;
}

.submitbutton {
  margin-bottom: 1em;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 1rem;
}

#submit {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#stormcenter {
  max-width: 750px;
  margin-left: auto;
  margin-right: auto;
}

#stormcenter h2, legend {
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 1.25em;
}

#stormcenter label {
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 1em;
}

#stormcenter .formfield label {
  display:flex;
  flex-direction: column;
}
#stormcenter .formfield .dangerlevel {
  flex-direction: row;
}
  
#stormcenter .formfield .dangerlevel .optionvalue {
  position: relative;
  top: 10px;
  left: 15px;
}
  
#stormcenter input {
  height:30px;
  border: 1px solid rgba(85, 85, 85, 0.288);
} 
#stormcenter input:required:invalid {
  border-left: 6px solid rgba(255, 0, 0, 0.568);
}

#stormcenter input:required:valid {
    border-left: 6px solid green;
  }
  #stormcenter input[type=radio] {
    display: block;
  }
  
  #stormcenter #comments {
    height: 80px;
  }
  
  #stormcenter label {
      margin-left: 20px;
      text-align: left;
      padding: 15px 0px 0px;
  }

  #stormcenter .formfield {
    margin-top: 10px;
  }
  
#stormcenter #submit {
  margin-top: 20px;
  width:80%;
  border-radius: 20px;
  max-width: 25rem;
  background-color: #8EC6FF;
  font-size: 20px;
  height: 45px;
  border: none;
  color: black;
}

#stormcenter #submit:hover{
  background-color:  #ffd166;
  border: black;
  border-style: solid;
}

#stormcenter fieldset{
  border: 1px solid rgba(85, 85, 85, 0.288);
  padding: 0 2em 1em 1em;
  border-radius: 5px;
}
  
#stormcenter legend {
  text-align: left;
  font-weight: 400;
  color: #353E46;
  font-size: 1.4em;
  padding: 0.75em;
}




