@media only screen and (min-width: 760px) {
	.headings h1 {
		font-size: 3rem;
  }


  nav, main, footer {
    max-width: 760px;
 }

  .navigation {
    display: flex;
    max-width: 960px;
    margin: 0 auto;
    }
    .navigation li {
      display: block;
      flex: 1 1 auto;
    }
    .navigation a {
      text-align: center;
    }
    .ham {
      display: none;
    }

    .mainh2 {
      margin-top: 20px;
    }
    
	.slogan {
		letter-spacing: 1.5pt;
		font-size: larger;
		margin-left: 17px;
  }
  
  main {
    max-width: 760px;
    margin: 0 auto;
  }

  .herodiv img {
    max-width: 100%;
  }

  footer {
    margin: 0 auto;
    padding: 0;
  }

  footer p, div{
    margin: 0.5rem auto;
  }
}