@media only screen and (min-width: 560px) {
	.headings h1 {
		font-size: 3rem;
	}

	.slogan {
		letter-spacing: 1.5pt;
		margin-left: 17px;
  }

  .weathersummary {
	  padding: 0.5rem;
  }
  .forecast{
	  display: contents;
  }

	.forecasttable {
	font-family: 'PT Sans Narrow', sans-serif;
	margin-left: 0.5rem;
  }
  .article img {
	float: right;
	max-width: 45%;
	margin-bottom: 20px;
  }
  
  .article p {
	font-family: 'PT Sans Narrow', sans-serif;
	display: inline;
  }

  footer {
	  padding-top: 0;
  }

  .contact-us {
	  display: grid;
	  grid-template-columns: 1fr 1fr;
  }

  .contact-us img {
	  display: inline;
  }

  .prestonmap {
	  max-width: 90%;
	  margin: 0 auto;
  }
}